#![crate_id = "rustray#0.11"]

#![comment = "A toy ray tracer in Rust"]
#![author = "Sebastian Sylvan"]
#![license = "Unknown"]
#![crate_type = "bin"]

extern crate time;
extern crate sync;
extern crate rand;

pub mod consts;
pub mod main;
pub mod math3d;
pub mod model;
pub mod raytracer;
pub mod concurrent;
